{{#each stations}}
  <section class="ui stacked segment">
    {{>latestreading}}
    <a href="/station/{{id}}" class="ui icon button">
      <i class="icon blue folder open"></i>
    </a>
    <a href="/dashboard/deletestation/{{id}}" class="ui icon button">
      <i class="icon red trash"></i>
    </a>
  </section>
{{/each}}