{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>  <img class="ui image" src="/images/weathercover.jpg">
    Weather Top JavaScript version. E. Manlapaz 7/8/22
  </p>
</section>