{{> menu id="dashboard"}}

<div class="ui center aligned header">
  <h1>Weather Top Stations</h1></div>
<h4>Welcome (NAME)</h4>
<section class="ui segment">
  <p>LATEST READING STATION</p>
  <a href="/stations/${station.id}" class="ui  icon button">
    <i class="icon blue folder open"></i>
  </a>
  <a href="/dashboard/deletestation/${station.id}" class="ui icon button">
    <i class="icon  red trash alternate"></i>
  </a>

</section>
  {{> listplaylists}}
  {{> addplaylist}}

