{{> menu id="dashboard"}}

<div class="ui center aligned header">

<section class="ui segment">
  <div class="ui center aligned header">
    <h1>Weather Top Stations</h1></div>
  <h4>Welcome ${member.firstname}} ${member.lastname}</h4>
</section>
  {{>liststations}}
  {{> addstations}}