{{> menu id="account"}}

<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <form class="ui stacked segment form" action="/accounts/{{user.id}}/update" method="POST">
      <h3 class="ui header">EDIT ACCOUNTS</h3>
      <h3>Hello {{users.firstName}}</h3>
      <div class="two fields">
        </div>
      <div class="field">
        <label>New First Name</label>
        <input placeholder="First Name" type="text" name="firstname">
        <label>New Email</label>
        <input placeholder="Email" type="text" name="email">
      </div>
      <div class="field">
        <label>New Password</label>
        <input type="password" name="password">
      </div>
      <button class="ui blue submit button">Submit</button>
    </form>
  </div>
</div>