{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Weather Top V2
  </h1>
  <p>
    A weather app for all seasons
  </p>
</section>
<img class="ui image" src="/images/weathercover.jpg">
