{{> menu}}
<table class="ui table">
  <thead>
  <tr>
    <th>Date/Time</th>
    <th>Code</th>
    <th>Temperature</th>
    <th>Wind Speed</th>
    <th>Wind Direction</th>
    <th>Pressure</th>
  </tr>
  </thead>
  <tbody>
  STATION READINGS
  <tr>
    <td>
      READING DATE
    </td>
    <td>
      CODE
    </td>
    <td>
      temperature ° C
    </td>
    <td>
      windSpeed kM/hr
    </td>
    <td>
      windDirection degrees
    </td>
    <td>
      pressure hpa
    </td>
    <td>
      <a href="DELETE READING" class="ui icon button">
        <i class="icon red trash alternate"></i>
    </td>
  </tr>
  </tr>
  #{/list}
  </tbody>
</table>