{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{playlist.title}}STATION.NAME

  </h2>
  {{> listsongs}}LIST READINGS
  {{> addsong}} ADD READING
  latestreading station:station
  listreadings station:station
  addreading station:station

</section>